<ion-header>
    <ion-toolbar>
      <ion-title>
        Boxes for Sale
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-thumbnail slot="start">
          <img src="https://media.kitepackaging.co.uk/images/product/large/7x7x7l.jpg" alt="Item Image">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.height + "x" + item.width + "x" + item.length }}</h2>
          <p>{{ "In stock = " + item.amount }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  